/* Reboot design*/
@import "global.css";

/* Reboot design*/
body{
    background-color: #a0b8e8 !important;
    color: #0038d0;
}
.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
    display: flex;
    align-items: center;
}

/* Login layout */
#login-content{
    padding: 2rem;
    background-color: #EAF1FF;
    border-radius: 25px;
}
#login-content img{
    width: 100%;
    max-width: 500px;
}
.login-form form{
    text-align: center;
}
.login-form .col img{
    width: 100%;
}
.login-form h1 {
    font-weight: 500;
    font-size: 2rem;
    line-height: 44px;
    margin-top: 3rem;
    margin-bottom: 3rem;
    color: #315CB0;
}
.login-form input{
    width: 100%;
    border: none;
    font-size: 1.2rem;
    height: 30px;
    padding: .3rem 1.9rem;
    margin-bottom: 1.5rem;
    background-color: transparent;
    border-bottom: 1px solid #8497BE;
    background-size: 1rem;
    background-position: 6px;
    background-repeat: no-repeat;
}
.circle{
    background: #8497BE;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: block;
    position: absolute;
    margin-top: 4px;
    margin-left: 4px;
}
.login-form input[type="text"], .login-form input[type="password"]{
    color: #000;
}
.login-form input::placeholder{
    color: #000;
}
.login-form input:focus{
    outline: none;
}
.login-form a{
    text-align: left !important;
    display: block;
    color: #8497BE;
    text-decoration: none;
    font-size: 1.2rem;

}
.login-form button{
    height: 50px;
    color: white;
    background-color: #3264C6;
    border-radius: 10px;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: 500;
    font-size: 1rem;
    line-height: 23px
}
.login-form button:hover{
    background-color: #1848d8;
    cursor: pointer;
}

/* Meduim size */
@media (max-width: 768px ) {
    .wrapper{
        margin: 1rem 0;
    }
    #login-content img{
        width: 50%;
    }
    .btn-login{
        width: 100% !important;
    }
    .login-form h1 {
        font-size: 2.3rem;
        margin-bottom: 3rem !important;
    }
    .login-form input{
        font-size: 1.4rem;
    }
    .login-form a{
        font-size: 1.2rem;
    }

}

/* Large size */

@media (max-width: 992px ) {
    .wrapper{
        margin: 1rem 0;
    }
    #login-content img{
        width: 70%;
    }
    .btn-login{
        width: 100% !important;
    }
    .login-form h1{
        font-size: 2.3rem;
        margin-bottom: 2rem !important;
    }
    .login-form input{
        font-size: 1.6rem;
    }
    .login-form a{
        font-size: 1.3rem;
    }

}









