@import "global.css";

html{
    overflow-y: hidden;
}
body{
    background-color: #e0e8f8 !important;
    color: #0038d0;
}
h1,h2{
    color: #0038d0;
}
.wrapper{
    display: grid;
    grid-template-columns: 300px 1fr;
    height: 100vh;
}
/* Sidebar */
#sidebar{
    text-align: center;
}
#sidebar img{
    margin-top: .8rem;
    margin-bottom: 1rem;
}
.circle{
    height: 100px;
    background: #e0e8f8;
    border-radius: 50%;
    width: 100px;
    padding: 0;
    margin: 0 auto;
    position: relative;
    top: 2rem;
}
.sidebar-nav{
    height: 100%;
    background-color: #315CB0;
    border-radius: 5.46262px 95px 0 0;
}
.sidebar{
    text-align: center;
}
.sidebar-content{
    margin-top: 4rem;
    margin-left: 1rem;
    text-align: left;
}
.sidebar-content a{
    font-size: 1.6rem;
    padding: .7rem;
    
    display: block;
    text-decoration: none;
    color: #e0e8f8;
    margin-bottom: 1.4rem;
}
.sidebar-content a.active , .sidebar-content a:hover{
    color: #315CB0 !important;
    background-color: #e0e8f8;
    border-top-left-radius: 55px;
    border-bottom-left-radius: 55px;
}
.btn-logout{
    align-items: center !important;
    display: flex !important;
    justify-content: center !important;

    margin-top: 9rem;
    width: 70%;
    background-color: #4B80EC !important;
    color: #e0e8f8 !important;
    border: none !important;
    height: 40px !important;
    position: absolute;
    bottom: 1rem;
    width: 210px;
    left: 2.4rem;
}
.btn-logout:hover{
    background-color: rgba(50, 100, 198, 1) !important;
}

/* topbar */

#topbar-nav{
    display: flex;
    justify-content: end;
    padding: .4rem 2rem;
    align-items:flex-end;
    border-radius: 50px;
}
.content{
    margin-top: 2rem !important;
    margin: 0 auto;
    width: 95%;
    overflow-y: auto;
}

/* Thumbnail */
.thumbnail{
    margin-top: 8rem;
}
.thumbnail .container{
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(200px,1fr));
    gap: 2rem;
}
.thumbnail .container .card{
    padding: 1.4rem;
    background-color: #3264C6;
    color: #FFFFFF;
    cursor: pointer;
}
.card:hover{
    opacity: .8;
}

.thumbnail .container .card .icon{
    width: 40px;
}
.card .info span{
    font-weight: bold;
    font-size: 2rem;
    display: block;
}
.card .info{
    text-align: left;
}
.card .info p{
    font-size: 1.7rem;
    margin: 0 ;
}
/* Table */

.table-group-divider{
    border-color: #A0B8E8 !important;
}
table thead{
    border-bottom: 1px;
  
}
table thead th{
    color: #3264C6;
    font-weight: 600 !important;
    font-size: 1rem;
}
table tbody{
    color: #3264C6;
}
.table tr td:first-child {
    border-right: 2px solid #A0B8E8;
}
.table tr {
    border-bottom: 1px solid #3264C6;
}
.material-table{
    border-top-left-radius: 0;
}
.table{
    text-align: center;
    margin: 0 !important;
}
.table-content{
    overflow-y: auto;
    height: 55vh;
}

.action-button{
    cursor: pointer;
}
.action-button:hover{
    color: #FFFFFF;
}
.table tbody tr:hover{
    background-color: rgba(50, 100, 198, .2) !important;
}

/* Pagination */
/* .table tr:last-child {
    border: transparent;
} */

.bottom-pagination{
    margin-top: rem;
}
.page-link{
    background-color:#3264C6 !important;
    color: #FFFFFF !important;
    border-radius: 10px !important;
}
.page-item{
    margin-right: 5px !important;
}
.pagination-container{
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    gap: 1rem;
    align-items: baseline;
    /* flex-direction: row-reverse; */
}
.pagination-container p{
    color: #315CB0;
}
.pager{
    position: relative;
    top: -15px;
    display: flex;
    align-items: baseline;
    gap: 1rem;
}
.page-number{
    width: 95px !important;
    border: 1px solid #3264C6 !important;
    border-radius: 30px !important;
}
.nav-tabs .nav-link.active{
    background-color: #3264C6 !important;
    color: #e0e8f8 !important;
}
/* Account  */
.header-button{
    padding: 0 !important;
    display: flex;
    gap: .4rem;
    justify-content: end;

}
.btn-primary, .btn-add{
    border-radius: 50px !important;
}
.btn-add{
    background-color: #3264C6 !important;
    border: none;
    color: #e0e8f8 !important;
}
.btn-add:hover{
    opacity: .8;
}
/* searchbar */
.searchbar{
    border-radius: 30px;
    outline-color:#3264C6 ;
    cursor: pointer;
    background-color: #ffffff;
    border: 1px solid #3264C6;
}
.searchbar, .searchbar::placeholder{
    color: #3264C6;
    padding: .4rem 1.3rem;
}
.btn-bar{
    width: 60px;
    background-color: #3264C6 !important;
    margin: 1rem 1rem 0 0 ;
}
.btn-bar:hover{
    background-color: #0d6efd !important;
}
.bars-icon{
    width: 30px;
    filter: invert(1);
}
.offcanvas-header{
    background: #e0e8f8 !important;
}
.offcanvas-body{
    background: #315CB0 !important;
}
.topbar-content{
    margin-top: 2em;
    display: grid !important;
    justify-content: center !important;
    margin-bottom: 100px
}
.topbar-content a{
    font-size: 1.6rem;
    padding: .7rem;
    width: 220px;

    text-decoration: none;
    color: #e0e8f8;
    margin-bottom: 1.4rem;
}
.topbar-content a.active{
    color: #315CB0 !important;
    background-color: #e0e8f8;
    border-radius: 50px;
}
.btn-logout-mobile{
    margin-top: 9rem;
    background-color: #4B80EC !important;
    color: #e0e8f8 !important;
    border: none !important;
    height: 40px !important;
    position: absolute;
    bottom: 1rem;
    width: 210px;
    left: 4.7rem;
}

/* Modal */
.modal-header,.modal-footer{
    background: #e0e8f8 !important;
}
.modal-body{
    border-top: 2px solid #315CB0 !important;
    background: #e0e8f8 !important;
}

.form-control{
    border-radius: 30px !important;
}
.col-form-label{
    text-indent: .4rem !important;
}

.qr-code{
    gap: 1rem;
    display: flex;
}
.qr_btn{
    height: fit-content;
}
#preview{
    height: 100%;
    width: 100%;
}
.scan-btn{
    position: absolute;
    left: 1rem;
    bottom: 1rem;
}
.status{
    padding: 0.5rem;
    border-radius: 50px;
    color: #fff;
    position: relative;
    top: 7px;
    border: 0;
}
/* #product_details,#scan_btn,#delete_btn,#update_btn{
    display: none;
}
 */
/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */


@media (max-width: 425px) {
    .header-button{
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 1rem;
    }
    .btn-add{
        order: -1;
        justify-content: center;
        display: flex;
    }
    .pagination-container {
        grid-template-columns: 1fr;
        justify-content: center;
    }
    .pager{
        justify-content: center;
    }
    .bottom-pagination{
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 992px) {
    #sidebar{
        display: none;
    }
    .wrapper{
        grid-template-columns:1fr;
    }
    html{
        overflow-y: auto;
    }
    .circle{
        top: 0 !important;
    }
    .topbar-content{
        margin-top: 0 !important;
    }
   
}


