@import "global.css";

body{
    background-color: #e0e8f8  !important;
}
footer{
    position: absolute;
    bottom: 0;
    background: #015c9f;
    width: 100%;
}
.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
    display: flex;
    align-items: center;
}

#topbar-nav{
    display: flex;
    justify-content: space-between;
    padding: .4rem 2rem;
    align-items:flex-end;
    border-radius: 50px;
}
.link-container{
    display: flex;
    justify-content: center;
    gap: 3rem;
}
.link-label{
    font-size: 1.3rem;
    padding: 0;
    color: #315CB0;
}
.active{
    background: #315CB0;
    padding: 0.1rem 1rem;
    border-radius: 10px;
    color: white;
}


/* add button & search */
.header-button{
    padding: 0 !important;
    display: flex;
    gap: .4rem;
    justify-content:space-between;

}
.btn-add{
    background-color: #3264C6 !important;
    border: none;
    color: #e0e8f8;
}
.btn-add:hover{
    opacity: .8 !important;
}
.search_container{
    display: flex;
    justify-content: end;
    margin-bottom: 1rem;
}
.searchbar{
    border-radius: 10px;
    outline-color:#3264C6 ;
    cursor: pointer;
    background-color: #ffffff;
    border: 1px solid #3264C6;
}
.searchbar, .searchbar::placeholder{
    color: #3264C6;
    padding: .4rem 1.3rem;
}

/* Table */
.table-content{
    overflow-y: auto;
    max-height: 600px !important;
}
.table-group-divider{
    border-color: #A0B8E8 !important;
}

table thead th{
    color: #3264C6;
    font-weight: 600 !important;
    font-size: 1rem;
}
table tbody{
    color: #3264C6;
}
.table tr td:first-child {
    border-right: 1px solid #A0B8E8;
}
.material-table{
    border-top-left-radius: 0;
}
.table{
    text-align: center;
    margin: 0 !important;
    min-height: 400px ;
}
#file_container .table{
    min-height: 0 !important;
}

.action-button{
    cursor: pointer;
}
.action-button:hover{
    color: #FFFFFF;
}
.table tbody tr:hover{
    background-color: rgba(50, 100, 198, .2) !important;
}
.bottom-pagination{
    margin-top: rem;
}
.page-link{
    background-color:#3264C6 !important;
    color: #FFFFFF !important;
    border-radius: 10px !important;
}
.page-item{
    margin-right: 5px !important;
}
.pagination-container{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-items: baseline;
    /* flex-direction: row-reverse; */
}
.pagination-container p{
    color: #315CB0;
}
.pager{
    display: flex;
    align-items: baseline;
    gap: 1rem;
}
.page-number{
    text-indent: 5px;
    width: 90px !important;
    border: 1px solid #3264C6 !important;
    border-radius: 30px !important;
}
.require{
    color: red !important;
}

.dropdown-toggle  {
    background-color: transparent !important;
    border: 0 !important;
}
.dropdown-menu li a  {
    color: #000000 !important;
    font-size: 1rem !important;
}
form{
    overflow: hidden;
}
.overflow-hidden{
    overflow: hidden !important;
}

@media (max-width: 576px) { 
    #thumbnail-container{
        grid-template-columns: 1fr;
        gap: 1rem;
    }
    #thumbnail-container .card{
        width: 400px;
        margin: 0 auto;
    }
 }


