*{
    box-sizing: content-box;
    padding: 0;
    margin: 0;
    /* transition: all 0.3s; */
    font: 20px/1.55 'Avenir';
    font-style: normal;
}
.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
    display: flex;
    align-items: center;
}
.circle{
    background: #8497BE;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: block;
    position: absolute;
    margin-top: 24px;
    margin-left: 4px;
}
h1{
    border-bottom: 2px solid #315CB0;
}
.txt-primary{
    color: #315CB0;
}
.txt-secondary{
    color: #a0b8e8;
}
.bg-primary{
    background-color: #315CB0;
}
.bg-secondary{
    background-color: #a0b8e8;
}
label.error{
    color: red;
    font-size: .8rem;
}
.require,.danger{
    color: red;
}
.cursor-pointer{
    cursor: pointer;
}
.cursor-pointer:hover{
    opacity: 0.8;
}
.warning{
    color: orange;
}
.pending{
    background-color: orange;
}
.approved{
    background-color: green;
}
.returned{
    background-color: #315CB0;
}
.rejected{
    background-color: red;
}
.filter{
    position: relative;
    top: 2.3rem;
    left: 3rem;
}