/* Static design */
*{
    box-sizing: content-box;
    padding: 0;
    margin: 0;
    /* transition: all 0.3s; */
    font: 17px/1.55 'Avenir';
    font-style: normal;
}
html{
    overflow-y: hidden;
}
body{
    background-color: #a0b8e8 !important;
    color: #0038d0;
}
.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
    display: flex;
    align-items: center;
}
.wrapper{
    max-width: 1000px !important;
}
.login-form{
    background-color: #EAF1FF;
    border-radius: 25px;
}
.login-form form{
    margin-top: 3rem;
    text-align: center;
}
.login-form .col img{
    width: 100%;
}
.login-form h1 {
    font-weight: 500;
    font-size: 31.9544px;
    line-height: 44px;
    margin-top: 3rem;
    color: #315CB0;
}
.login-form input{
    width: 100%;
    border: none;
    font-size: 1rem;
    height: 30px;
    padding: .3rem 1.9rem;
    margin-bottom: 1.5rem;
    background-color: transparent;
    border-bottom: 1px solid #8497BE;
    background-size: 1rem;
    background-position: 6px;
    background-repeat: no-repeat;
}
.circle{
    background: #8497BE;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: block;
    position: absolute;
    margin-top: 4px;
    margin-left: 4px;
}
.login-form input[type="text"], .login-form input[type="password"]{
    color: #8497BE;
}
.login-form input::placeholder{
    color: #8497BE;
}
.login-form input:focus{
    outline: none;
}
.login-form a{
    text-align: left !important;
    display: block;
    color: #8497BE;
    text-decoration: none;
}
.login-form button{
    height: 40px;
    color: white;
    background-color: #3264C6;
    border-radius: 10px;
    width: 60%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: 500;
    font-size: 17.0423px;
    line-height: 23px
}
.login-form button:hover{
    background-color: #1848d8;
    cursor: pointer;
}

